.ptModalContainer{
    width: 100%;
    height: 200vh;

    background-color: rgba(0, 0, 0, 0.678);

    position: fixed;

    display: flex;
    align-items: center;
    justify-content: center;

    z-index: 1;
}
.ptModal{
    width: 85%;
    height: 450px;

    background-color: var(--primary-grey);

    position: fixed;

    top: 100px;

    z-index: 2;

}
.ptModalImg{
    height: 200px;

    background-position: top;    
    background-size: cover;

    border-bottom: 4px solid var(--primary-color);
}
.ptModalX{
    position: absolute;

    font-weight: bolder;
    font-size: 20px;

    color: var(--primary-yellow);

    right: 10px;
    top: 10px;
}
.ptModalInfos{
    padding: 20px;
    
    height: 200px;

    display: flex;
    flex-direction: column;

    align-items: flex-start;
    justify-content: space-evenly;
}
.ptModalName{
    font-size: 18px;
    font-weight: bolder;

    color: var(--primary-color);

    margin-bottom: 20px
}
.ptModalTopContainer{
    display: flex;
    flex-direction: row;

    align-items: flex-start;
    justify-content: flex-start;

    gap: 10px;
}
.ptIcon{
    width: 18px;
    height: 18px;

    background-size: contain;
    background-position: center;
    background-repeat: no-repeat;
}
.ptModalBtn{
    text-decoration: none;
    font-size: 14px;

    width: 208px;

    padding: 10px;

    border: 2px solid var(--primary-color);

    color: var(--secondary-color);

    display: flex;
    align-items: center;
    justify-content: center;
}
.specialityContainer{
    margin-bottom: 30px
}