.headerContainer{
    display: flex;
    flex-direction: row;

    align-items: center;
    justify-content: space-between;

    padding: 20px;

    background-color: var(--secondary-grey);

    border-bottom: 1px solid var(--secondary-color);
}
.headerContainer > span {
    color: var(--primary-color);
}
.icon{
    width: auto;
    height: 15px;
}