.headerContainer{
    display: flex;
    flex-direction: row;

    align-items: center;
    justify-content: space-between;

    padding: 10px 20px;

    background-color: var(--secondary-grey);

    border-bottom: 2px solid var(--secondary-color);

    z-index: 2;

    position: relative;

    right: 0;
    left: 0;
}
.headerLogo{
    width: 30px;
}
.icon{
    width: auto;
    height: 18px;
}