.navBarContainer{
    display: flex;

    align-items: center;
    justify-content: space-evenly;

    padding: 10px;

    background-color: var(--primary-color);

    position: absolute;

    right: 0;
    left: 0;
    top: 37px;

    z-index: 1;

    transition: 0.1s ease-in;

    height: 78px;

    height: 10px;
}
.navLink{
    text-decoration: none;
    color: var(--primary-grey);

    font-size: 12px;
    text-align: center;
}
.moveNav{
    top: 69px;

    transition: 0.3s ease-out;
}

@media(width >= 1024px){
    .navBarContainer{
        display: none;
    }
}
