.teamPageContainer{
    min-height: 100vh;

    transition: 0.1s ease-in;

    padding: 20px;

    display: flex;
    flex-direction: column;

    align-items: flex-start;
    justify-content: center;

    gap: 20px;
}
.teamPageLine{
    margin: 0;

    width: 60%;

    border: 2px solid var(--primary-color);
}
.teamPageMain{
    display: flex;
    flex-direction: column;

    align-items: center;
    justify-content: center;

    width: 100%;

    gap: 20px;
}
.teamPageTitle{
    font-size: 32px;
    font-weight: bolder;

    color: var(--primary-color);
}
.move{
    transform: translateY(98px);

    transition: 0.3s ease-out;
}

@media(width >= 768px) {
    .teamPageMain{
        flex-direction: row;
        flex-wrap: wrap;
    }
    .teamPageLine{
        width: 320px;
    }
}


@media(width >= 1024px) {
    .teamPageContainer{
        padding: 20px 130px
    }
}
@media(width >= 1440px){
    .teamPageContainer{
        padding: 50px 150px;
        gap: 50px
    }
    .teamPageMain{
        gap: 50px 100px;
    }
}