:root{
    --primary-color: #f2b755;
    --secondary-color: #faf0b4;
    
    --primary-yellow: #e2b765;

    
    --primary-grey: #252325;
    --secondary-grey: #1d1b1c;
    --primary-white: #ffffff;
    --primary-black: #000000;

    font-family: "Poppins", sans-serif;
}

